* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

/*header section*/
.header {
  display: flex;
  width: 100%;
  height: 64px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid darkred;
}
.logo-container {
  display: flex;
  width: 100%;
  height: 100%
  margin: 0 auto;
  font-family: Helvetica;

  font-size: 1rem;
  border: 1px solid green;
}
.logo-img {
  display: flex;
  justify-content: center;
}
.logo-title {
  display: flex;
  height: 32px;
  align-items: center;
  border: 1px solid green;
}
#logo-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0 auto;
  width: 50%;
  height: 55px;
  margin-left: 24px;
  border: 1px solid orange;
}
#logo-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  margin-right: 24px;
  border: 1px solid green;
}
.navigation {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  border: 1px solid yellow;
}
nav span {
  display: inline-block;
  padding-left: 16px;
}
a {
  color: Black;
  text-decoration: none;
}
/*body container*/
.body {
  margin: 0;

}
/*section Start*/
.container-banner {
  display: flex;
  width: 100%;
  height: 70%;
  padding-top: 32px 24px;
  border: 1px solid darkred;
}
.banner {
  width: 60%;
  height: 31rem;
  margin: 32px 24px;
  border: 1px solid green;
}
.resize-banner {
  display: flex;
  width: 100%;
  height: 100%;
}
.banner-content {
  display: flex;
  border: 1px solid darkgreen;
  width: 40%;
  align-items: center;
  justify-content: center;
  margin: 32px 24px 32px 0px;
  height: auto;
  flex-direction: column;
}
.banner-content h4 {
  display: flex;
  padding: 30px 0px 30px 0;
}

/*section-start--campus information section*/
.container-information {
  display: flex;
  width: 100%;
  height: auto;
  border: 1px solid darkred;
}
.information-main {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  border: 1px solid black;
}
.information-main-img {
  display: flex;
  width: 100%;
  height: 75%;
  padding: 32px 24px;
  border: 1.5px solid darkgreen;
}
.resize-information-main {
  display: flex;
  width: 100%;
  height: 100%;
}
.info-content {
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}
.info-content p {
  display: flex;
  margin: 32px 24px;
}
.campus {
  display: flex;
  width: 40%;
  height: auto;
  margin-top: 1%;
  margin-bottom: 32px;
  flex-direction: column;

}
.information {
  display: flex;
  align-items: center;
  padding: 16px 16px;
  width: 100%;
  height: 40%;
  margin-bottom: 5px;

}
.information-img {
  display: flex;
  align-items: center;
  width: 35%;
  height: auto;
}
.resize {
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  width: 65%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.info p {
  display: flex;
  padding: 30px 0px 30px 0px;
}

/*Middle Section-learning- photo-grid*/
.container-grid {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  border: 2px solid red;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0px 32px 0px;
  border: 1px solid green;
}
.container-start-learning {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0px 72px 32px 72px;
  border: 2px solid blue;
}
.photo-grid {
  display: flex;
  width: 30%;
  height: 100%;
  margin: 0px 16px 32px 16px;
  flex-direction: column;
  border: 1px solid black;
}
.resize-grid-img {
  display: flex;
  width: 100%;
  height: 100%;
}
.learning-img, .learning-info {
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: row;
}
.learning-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*End Section...*/
.container-thesis {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  border: 2px solid black;
}
.thesis {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  border: 2px solid red;
}

.container2 {
  display: flex;
  width: 60%;
  height: auto;
  flex-direction: column;
  border: 2px solid yellow;
}
.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
video {
  display: flex;
  width: 95%;
  height: auto;

  margin: 0px 24px 24px 24px;
  border: 2px solid blue;
}

.urban {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid green;
}
.urban p {
  display: flex;
  padding: 8px 0px 32px 0px;
}

.information-campus {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: row;
  border: 1px solid black;
}
.information-campus-img {
  display: flex;
  width: 35%;
  height: auto;
  padding: 16px 16px;
}
.info {
  display: flex;
  width: 65%;
}

/*footer section*/
footer {
  width: 100%;
  height: 70px;
  border: 2px solid black;
}
.footer-title {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  flex-direction: row;
  justify-content: space-between;
}
.copyright,
.font-awesome,
.privacy {
  display: flex;
  width: 400px;
  border: 1px solid green;
}
.copyright {
  display: flex;
  justify-content: flex-start;
}
.font-awesome {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px 0px 100px;
}
.font-awesome a {
  display: flex;
  padding: 5px 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 7px;
}
.privacy {
  display: flex;
  justify-content: flex-end;
}
