* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

/*body container and Typography section*/
body {
  width: 100%;
  margin: 0;
  background-color: #f4f7fb;
  opacity: 1;
}
.header, footer {
  background-color: #cdd1d4;
}
body h1, h2, h3 {
  font-family: "Roboto", sans-serif;
}
body h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: rgb(7, 2, 2);
  opacity: 1;
}
body h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(7, 2, 2);
  opacity: 1;
}
body h3 {
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: left;
  color: #808000;
  opacity: 1;
}
body p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
  line-height: 1.2rem;
}
body a {
  font-family: "Merriweather", serif;
  font-size: 1.05rem;
  font-weight: normal;
}
footer p {
  font-family: "Merriweather", serif;
  font-size: 0.87rem;
  font-weight: bold;
  color: #292e33;
}
/*Psuedo and animation styling section*/
.btn-start-here {
  background-color: rgba(177, 250, 214, 0.4);
  padding: 1rem 2rem;
  text-align: center;
  width: 100%;
  border: 1px solid rgba(9, 163, 9, 0.4);
  border-radius: 5px;
  transition: all ease-in-out 250ms;
}
.btn-start-here:hover {
  background-color: rgba(9, 163, 9, 0.4);
  border-radius: 5px;
  color: black;
  font-weight: bold;
}
.btn-read-more {
  color: #808000;
  border: 1px solid #7cfc00;
  border-radius: 5px;
  font-weight: bold;
  padding: 1rem 2rem;
  width: 60%;
  transition: all ease-in-out 250ms;
}
.btn-read-more:hover {
  background-color: rgba(9, 163, 9, 0.4);
  border-radius: 5px;
  color: black;
  font-weight: bold;
}
.courses {
  background-color: rgba(6, 9, 7, 0.1);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
  transition: all ease-in-out 250ms;
}
.courses:hover {
  transform: translateY(-10px);
  box-shadow: 0pxgit  18px 8px -10px rgba(0, 0, 0, 0.75);
  border: 1px solid #7cfc00;
  background-color: rgba(5, 123, 132, 0.64);
  color: #ffff00;
}
nav span a:active {
  color: rgba(9, 163, 9, 0.4);
  font-weight: bold;
}
.logo-img {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
  transition: all ease-in-out 250ms;
  border-radius: 4px;
  border: 1px solid rgba(177, 250, 214, 0.4);
}
.logo-img:hover {
  box-shadow: 0px 18px 8px -10px rgba(0, 0, 0, 0.75);
  background-color: rgba(9, 163, 9, 0.4);
  transform: translate3d(-9px);
}

/*header section*/
.header {
  display: flex;
  width: 100%;
  height: 10%;
  margin: 0 auto;
  position: fixed;
  top: 0px; left: 0px; right: 0px;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1.8px solid #808000;
  z-index: 1;
}
.logo-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 1rem;
  border-bottom: 1px solid  #41d6c3;

}
#logo-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 50%;
  height: 100%;
  margin-left: 24px;
}
.logo-img {
  display: flex;
  padding: 1px 1px;
  opacity: 0.72;
  height: 70%;
  width: 7%;
  justify-content: center;
  align-items: center;
}
.logo-title {
  display: flex;
  height: 70%;
  width: 28%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
.logo-title #left {
  color: 	#152935;
  width: 50%;
  height: 100%;
  opacity: 0.78;
}
.logo-title h4 {
  width: 100%;
}
.logo-title #right {
  color: black;
  width: 50%;
  height: 100%;
  opacity: 1;
}
#logo-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  margin-right: 24px;
}
.navigation {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-end;
}
nav span {
  display: inline-block;
  padding-left: 16px;
}
a {
  color: Black;
  text-decoration: none;
}
.display img {
  display: none;
  width: 50%;
  justify-content: space-between;
}
/*section Start*/
.start {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-banner {
  display: flex;
  width: 100%;
  height: 70%;
  background-color: rgba(132, 143, 131, 0.16);
  padding-top: 64px;
}
.banner {
  width: 60%;
  height: 60%;
  margin: 32px 24px;
}
.resize-banner {
  display: flex;
  width: 100%;
  height: 100%;
}
.banner-content {
  display: flex;
  width: 40%;
  height: auto;
  justify-content: center;
  text-align: left;
  margin: 32px 24px 32px 0px;
  padding: 0px 50px 30px 20px;
  flex-direction: column;
}
.banner-content h3 {
  display: flex;
  text-align: left;
  padding: 30px 30px 30px 0;
  font-size: 1.8rem;
  color: rgb(7, 2, 2);
}

/*section-start--CAMPUS information section*/
.container-information {
  display: flex;
  width: 100%;
  height: auto;
}
.information-main {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
  height: auto;
}
.information-main-img {
  display: flex;
  width: 100%;
  height: 70%;
}
.information-img-display {
  display: none;
}
.resize-information-main {
  display: flex;
  width: 100%;
  height: 100%;
}
.info-content {
  display: flex;
  flex-direction: column;
  background-color: rgba(72, 191, 63, 0.1);
}
.info-content h2 {
  display: flex;
  text-align: left;
  padding-top: 32px;
  padding-bottom: 24px;
}

/*this Campus styling also affects section-end Campus*/
.campus {
  display: flex;
  width: 40%;
  height: auto;
  margin-top: 1%;
  margin-bottom: 32px;
  flex-direction: column;
}
.information {
  display: flex;
  align-items: center;
  padding: 16px 16px;
  width: 100%;
  height: 40%;
  margin-bottom: 5px;
  background-color: rgba(72, 191, 63, 0.1);
}
.information-img {
  display: flex;
  align-items: center;
  width: 35%;
  height: auto;
}
.resize {
  width: 100%;
  height: 100%;
}
.resize-mobile {
  display: none;
}
.info {
  display: flex;
  width: 65%;
  height: auto;
  padding-left: 16px;
  justify-content: center;
  flex-direction: column;
}
.info p {
  display: flex;
  padding: 8px 0px 8px 0px;
}

/*Middle Section-learning- photo-grid*/
.middle {
  display: flex;
  width: 100%;
  height: 100%;
}
.courses-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.heading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 32px 0px 32px 0px;
}
.courses-grid {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 72px 32px 72px;
}
.courses {
  display: flex;
  width: 30%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0px 16px 32px 16px;
  flex-direction: column;
}
.resize-grid-img {
  display: flex;
  width: 100%;
  height: 100%;
}
.courses-info {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 16px 16px;
  flex-direction: column;
}
.courses-info p {
  display: flex;
  line-height: 20px;
}
.upper {
  display: flex;
  padding: 8px 0px 8px 0px;
  text-transform: uppercase;
}
.courses-container-mobile {
  display: none;
}

/*End Section...*/
.container-thesis {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.thesis {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
.container2 {
  display: flex;
  width: 60%;
  height: auto;
  flex-direction: column;
}
.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
video {
  display: flex;
  width: 95%;
  height: auto;
  margin: 0px 24px 24px 24px;
}
.urban {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 24px;
}
.urban p {
  display: flex;
  padding-top: 8px;
}

/*footer section*/
footer {
  width: 100%;
  height: 70px;
}
.footer-title {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid rgba(177, 250, 214, 0.4);
}
.copyright,
.font-awesome,
.privacy {
  display: flex;
  width: 400px;
}
.copyright {
  display: flex;
  justify-content: flex-start;
}
.font-awesome {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px 0px 100px;
}
.font-awesome a {
  display: flex;
  padding: 5px 5px;
  margin-bottom: 5px;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
  transition: all ease-in-out 250ms;
  border-radius: 4px;
  border: 1px solid rgba(177, 250, 214, 0.4);
}
.font-awesome a:hover {
  transform: translate3d(-9px);
  box-shadow: 0px 18px 8px -10px rgba(0, 0, 0, 0.75);
  background-color: rgba(9, 163, 9, 0.4);
}
.privacy {
  display: flex;
  justify-content: flex-end;
}

/*MEDIA QUERY SECTION---*/

/*Media Query for TABLETS...*/

@media only screen and (min-width: 480px) and (max-width: 1024px) {
 .header {
  display: flex;
  width: 100%;
  height: 10%;
  margin: 0 auto;
  position: fixed;
  top: 0px; left: 0px; right: 0px;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1.8px solid #808000;
  z-index: 1;
}
.logo-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 1rem;
  border-bottom: 1px solid  #41d6c3;
}
#logo-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 40%;
  height: 100%;
  margin-left: 24px;
}
.logo-img {
  display: flex;
  padding: 1px 1px;
  opacity: 0.72;
  height: 50%;
  width: 13%;
  justify-content: center;
  align-items: center;
}
.logo-title {
  display: flex;
  height: 70%;
  width: 28%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.05rem;
}
.logo-title #left {
  color: 	#152935;
  width: 50%;
  height: 100%;
  opacity: 0.78;
}
.logo-title h4 {
  width: 100%;
}
.logo-title #right {
  color: black;
  width: 50%;
  height: 100%;
  opacity: 1;
}
#logo-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  height: 100%;
  margin-right: 24px;
}
.navigation {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-end;
}
nav span {
  padding-left: 10px;
}
.navigation a {
  font-size: 0.99rem;
}
a {
  color: Black;
  text-decoration: none;
}
.display img {
  display: none;
  width: 50%;
  justify-content: space-between;
}
body p {
  font-size: 1rem;
}

/*MEDIA QUERY --- START Section*/
.start {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-banner {
  display: flex;
  width: 100%;
  height: 70%;
  background-color: rgba(132, 143, 131, 0.16);
  padding-top: 64px;
}
.banner {
  width: 60%;
  height: 60%;
  margin: 32px 24px;
}
.resize-banner {
  display: flex;
  width: 100%;
  height: 100%;
}
.banner-content {
  display: flex;
  width: 40%;
  height: auto;
  justify-content: center;
  text-align: left;
  margin: 32px 24px 32px 0px;
  padding: 0px 30px 30px 20px;
  flex-direction: column;
}
.banner-content h1 {
  display: flex;
  font-size: 2.3rem;
  font-weight: bold;
}
.banner-content h3 {
  display: flex;
  text-align: left;
  padding: 30px 0px 30px 0;
  font-size: 1.3rem;
  color: rgb(7, 2, 2);
}

.container-information {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
}
.information-main {
  display: flex;
  width: 60%;
  padding: 32px 24px 12px 24px;
  height: auto;
  flex-direction: column;
}
.information-main-img {
  display: flex;
  width: 100%;
  height: 50%;
}
.information-img-display {
  display: none;
}
.resize-information-main {
  display: flex;
  width: 100%;
  height: 100%;
}
.info-content {
  display: flex;
  flex-direction: column;
  background-color: rgba(72, 191, 63, 0.1);
}
.info-content h2 {
  display: flex;
  text-align: left;
  font-size: 1.7rem;
}
.campus {
  display: flex;
  width: 40%;
  height: auto;
  margin: 10px 16px 16px 0px;
  flex-direction: column;
}
.campus h3 {
  font-size: 1.1rem;
  font-weight: bold;
}
.information {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  margin-right: 24px;
}
.information-img {
  display: flex;
  width: 35%;
}
.info {
  display: flex;
  width: 65%;
  padding-top: 16px;
}
.info a {
  width: 100%;
  padding: 8px 8px;
  font-size: 1rem;
}

/*Middle Section-learning- photo-grid*/
.middle {
  display: flex;
  width: 100%;
  height: 100%;
}
.courses-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.heading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 32px 0px 32px 0px;
}
.courses-grid {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 20px 20px 20px;
}
.courses {
  display: flex;
  width: 30%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 15px 10px;
  flex-direction: column;
}
.resize-grid-img {
  display: flex;
  width: 100%;
  height: 100%;
}
.courses-info {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 16px 16px;
  flex-direction: column;
}
.upper {
  display: flex;
  padding: 8px 0px 8px 0px;
  text-transform: uppercase;
}
.courses-container-mobile {
  display: none;
}

/*footer section*/
footer {
  width: 100%;
  height: 70px;
}
.footer-title {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid rgba(177, 250, 214, 0.4);
}
.font-awesome,
.privacy {
  display: flex;
  width: 20%
}
.copyright {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}
.font-awesome {
  display: flex;
  justify-content: space-around;
  padding: 1px;
}
.privacy {
  display: flex;
  justify-content: flex-end;
}
}

/* MEDIA Query for MOBILE DEVICES....*/
@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
.header {
 width: 100%;
 height: 10%;
 z-index: 1;
}
body h1 {
  font-size: 2rem;
}
body h2 {
  font-size: 1.5rem;
}
body h3 {
  font-size: 1.3rem;
  font-weight: bolder;
}
body p {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1rem;
}
body a {
 font-size: 1rem;
 font-weight: normal;
}
.logo-container {
  display: none;
}
.display {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.logo-img-display {
  display: flex;
  height: 100%;
  width: 20%;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
}
.logo-img-display img {
  display: flex;
  padding: 1px 1px;
  opacity: 0.72;
  width: 40%;
}
.navigation {
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 15px;
}
.navigation img {
  display: flex;
  width: 16%;
  padding-left: 16px;
  align-items: center;
  justify-content: center;
}

/*Media Query for START section*/
.container-banner {
  display: flex;
  width: 100%;
  height: 70%;
  flex-direction: column;
}
.banner {
  display: flex;
  width: 100%;
  height: 60%;
  margin: 0 auto;
}
.banner-content {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 0px;
}
.banner-content h3 {
  line-height: 1.5rem;
}
.btn-start-here {
  width: 100%;
}

/*media query - section-start--campus information section*/
.information-main {
  display: none;
}
.information-img .resize {
  display: none;
}
.campus {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0px 16px 16px 16px;
  justify-content: center;
  align-items: center;
}
.information {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px 16px;
}
.information-img {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.resize-mobile {
  display: flex;
  width: 100%;
  height: 100%;
}
.info {
  display: flex;
  width: 100%;
  margin-top: 16px;
}
.info a {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn-read-more {
  display: flex;
  width: 80%;
}

/*Media Query for MIDDLE -Section---*/
.courses-container {
  width: 100%;
  height: 100%;
}
.heading {
  display: none;
}
.heading-mobile {
  display: flex;
  height: 2.5rem;
  justify-content: center;
}
.heading-mobile h2 {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  height: 2.5rem;
}
.courses-grid {
  display: none;
}
.courses-container-mobile {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px 16px 16px 16px;
  flex-direction: column;
}
.courses-grid-mobile {
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 8px;
  flex-direction: column;
}
.courses-mobile {
  display: flex;
  width: 100%;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  background-color: rgba(6, 9, 7, 0.1);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
  transition: all ease-in-out 250ms;
}
.courses-mobile:hover {
  transform: translate3d(-9px);
  box-shadow: 0px 18px 8px -10px rgba(0, 0, 0, 0.75);
  background-color: rgba(5, 123, 132, 0.64);
}

/*Last Section (section-END)....*/
.container-thesis {
  display: flex;
  width: 100%;
}
.container {
  display: flex;
  width: 100%;
}
.container2, .video-section {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
}
.urban {
  display: none;
}
#campus-thesis {
  display: none;
}
footer {
  width: 100%;
}
.copyright {
  display: flex;
  width: 100%;
}
.copyright p {
  display: flex;
  font-size: 0.77rem;
}
.font-awesome {
  display: none;
}
.privacy {
  display: none;
}
}
